#LCTitleText{
    font-family: 'Cafe24Ssurround';
    font-size: 2.3rem;
}
.navbar {
	background-color: rgba(255, 255, 255, 0.5) !important;
    margin-bottom: 1rem;
}
body {
    height: 100vh;
    width: 100vw;
	background-image: url(../image/background_beach2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

#mainbody{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 3rem;
    background-color: white;
    opacity: 0.9;
    font-family: 'Pretendard-Regular';
    width: 70rem;
    margin: auto;
}
.large_category_list{
    font-family: 'Cafe24Ohsquare';
    font-size: 1.5rem;
    text-align: center;
}
#RightBox{
    margin:auto;
    display: table;
} 
.LCnameBox{
    text-align: center;
    flex-basis: 20%;
    height: 4.5rem;
}

.SubCategoryTItle{
    font-family: 'Cafe24Ohsquare';
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
}

#blank{
    height: 3rem;
    /* background-color: black; */
}

/* 등록 버튼 */
#add_small_category_name{
    height: 2.8rem;
    width: 10rem;
}
#addSmallBtn{
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    width: 4rem;
    height: 3rem;
    color: white;
    background-color: #373234;
}
#addSmallBtn:hover{
    color: rgb(67, 0, 0);
    background-color: #FF788B;
}
/* 삭제 */

#deleteSmallName{
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    width: 4rem;
    height: 3rem;
    color: white;
    background-color: #373234;

}
#deleteSmallName:hover{
    color: rgb(67, 0, 0);
    background-color: #FF788B;
}
#line{
    background-color: #373234;
    height: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#gomanagebtn{
    font-family: 'Cafe24Ohsquare';
    font-size: 1.5rem;
    margin: auto;
    width: 20rem;
    height: 4rem;
    color: rgb(65, 42, 0);
    background-color: #fff9dc;
}

#large_category_selection{
    /* font-family: 'Cafe24Ohsquare'; */
    font-size: 1.2rem;
    width: 20rem;
    height: 2rem;
}

#gomanagebtn:hover{
    color: rgb(65, 42, 0);
    background-color: #FF788B;
}

/* 대분류 선택 */
#form-box-left{
    margin: auto;   
    text-align: center;
}

#small_category_selection{
    font-family: 'Pretendard-Regular';
    font-size: 1rem;
    height: 2.8rem;
    width: 10rem;
}

#line2{
    height: 0.2rem;
    background-color: #534500;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.small_category_list{
    font-family: 'Pretendard-Regular';
    font-size: 1.2rem;
    text-align: center;
}

.smalltabletext{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}