@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '777Balsamtint';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
li {
    list-style: none;
    padding-left: 0px;
}
body {
    background-image: url(../image/water_splash.jpg);
    margin-top:13%;
}
#analysisTitle{
    font-family: 'Cafe24Ohsquare', sans-serif;
	color: #000000;	
    font-size: 3rem;
}
#subtitle{
    font-family: 'Pretendard-Regular';
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.navbar {
	background-color: rgba(255, 255, 255, 0.5) !important;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.page-content {
    opacity: 0.8 !important;
}
.card-body {
    margin:auto;
    display: flex;
    align-items: center;
}

.CM{
    vertical-align: middle;
}

#myChartHead {
	padding-bottom: 0px;
	padding-top: 10px;
    color: white;
	background-color: #373234;
}

#myChartHead2 {
    color: white;
	background-color: #373234;
}

.myChartHeadFont{
    font-family: 'Cafe24Ohsquare', sans-serif;
	font-size:40px;
}


#myChartHead:hover {
    color:rgb(39, 0, 54);
    cursor:pointer;
    background-color:#FF788B;
}


#myChartHead2:hover {
    color:rgb(39, 0, 54);
    cursor:pointer;
    background-color:#FF788B;
}

/* 모달 창 */
.modal-title{
    font-family: 'Cafe24Ohsquare', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 30px;
}
.modal-header {
    background-color:#373234;
}
.modal-body{
    margin-top: 0px;
    background-color:rgb(250, 254, 255);
}
/* 소비 패턴  */
#TypeAnalysisModalTitle {
    font-family: 'Cafe24Ohsquare', sans-serif;
	padding-left: 30px;
    margin-top: 30px;
    font-size: 30px;
}
#TypeAnalysisModalTitle2 {
    font-family: 'Cafe24Ohsquare', sans-serif;
	padding-left: 30px;
    margin-top: 0px;
    font-size: 30px;
}
#typetitleline2{
    margin-bottom: 20px;
}

#MyTypeTitle{
    font-size: 35px;
    color: #ff221e;
}

.typetitleline{
    margin-bottom: 15px;
    color: #373234;
    height: 5px;
    background-color:#373234;
}

#AnalyseModal1_UL{
    font-family: '777Balsamtint', sans-serif;
    font-size:22px;
}
#AnalyseModal2_UL{
    font-family: '777Balsamtint', sans-serif;
    font-size:22px;
}
#modal_myChart1{
    margin:auto;
}
#modal_myChart2{
    margin:auto;
}

#modal_myChart3{
    margin:auto;

}
#modal_myChart4{
    margin:auto;
}
#modal_myChart6{
    margin:auto;
}

/* 소비 패턴 분석 강조 문구  */
#maxday{
    font-size: 30px;
    color: #ff9812;
}
.emphasize{
    font-size: 28px;
    color: #ff5400;
}
.modalWon{
    font-size: 28px;
    color: #ff0054;
}
.modalHiger{
    font-size: 18px;
    color: #ff0000;
}
.modalLower{
    font-size: 18px;
    color: rgb(0, 30, 202);
}
.modalSimilar{
    font-size: 18px;
    color: rgb(44, 106, 0);
}
.emphasize2{
    font-size: 34px;
    color: #9e0059;
}
.modalchartTitle{
    font-family: 'ONE-Mobile-POP', sans-serif;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

.modal-body{
    margin-top: 12px;
}
.ModalDescText{
    
}
.TypeAnalysisModalTitle3{
    font-family: 'Cafe24Ohsquare';
    text-align: center;
    margin:auto;
    font-size: 25px;
}
#typetitleline3{
    margin-bottom: 15px;
    color: #ee6c4d;
    height: 5px;
    background-color:#ee6c4d;
}
.ModalCompareText{
    font-family: '777Balsamtint';
    text-align: center;
    margin:auto;
    font-size: 10px;
}

/* 남들과 비교 하는 아이콘 */
.CompareFlex {
    text-align: center;
    flex-basis: 33.33333%;
}

.ULdesc{
    font-family: 'Pretendard-Regular';
    font-size:15px;
    margin-top: 5px;
}