@charset "UTF-8";

body{
    background-image: url(../image/water_splash.jpg);
    margin-top:13%;
}

.cardImg {
    width: 70%;
    max-width: 70%;
    height: 70%;
    -webkit-backface-visibility: hidden;
    margin:6% 15%;
}

div #cardName {
	text-align: center;
	font-size: 20px;
	font-family: 'Cafe24Ohsquare';
}

p {
    font-weight: 300;
    font-size: 18px;
    color: #686c6d;
    letter-spacing: 0.03rem;
    margin-bottom: 10px;
}
b, strong {
    font-weight: 700 !important;
}

.cardDetail {
	font-family:'Pretendard-Regular', sans-serif !important;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px 40px;
    border-radius: 10px;
}

.cardDetail p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}

.cardDetail p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
 
 #myCardColor{
 	color:rgba(255, 99, 132, 1);
 }
 
 #selectCardColor{
 	color:rgba(54, 162, 235, 1);
 }
 
 .cardDetail{
 	font-size:1.1rem;
 }
 
 .CompareFlex {
    text-align: center;
    flex-basis: 33.33333%;
}

.ULdesc{
    font-size:15px;
    margin-top: 5px;
}
