
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

/* hwajung edit */
#card_sample{
	border-radius: 10%;
	width : 190px;
	margin-left : 5px;
}


h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/* header */

.card_register{
	border-bottom: 2px solid #6e6e6e;
	text-align:left;
	font-size: 30px;
	padding-bottom: 20px;
}
.card_information{
	text-align:left;
	font-size:23px;
	padding : 20px 0px 10px 0px;
	border-bottom: 2px solid #6e6e6e;
}
#card-name, #card-desc, #max-sale{
	width:240px;
	display : inline-block;
}

/* table */
.add_manage_option{
	width:70px;
	height:30px;
}

.form-bottom{
	overflow:hidden;
}

tr{
	border-bottom: 1px solid #6e6e6e;
}
th{
	border-bottom: 1px solid #6e6e6e;
	text-align: center;
	font-size: 13px;
	padding-left: 10px;
}
td{
	padding:10px 5px 5px 5px;
}

#register_card_info{
	width:100px;
	float:right;
	background-color: #1099d3;
	
}

.small_category_selection{
	width:70px;
}

#deleteList, #updateList{
	width:26px;
	height:26px;
}

#large_category_search{
	width:22px;
	height:22px;
	margin-left:10px;
}

/* form-box */
#form-box-right{
	border-left:2px solid #6e6e6e;
	padding-left: 23px;
}

#form-box-left{
	margin-top: 20px;
}

.form-group{
	padding-bottom: 15px;
}



/* tac-header */
.tac_header{
	overflow:hidden;
}


/***** Top content *****/

.inner-bg {
    padding: 60px 0 80px 0;
}

.top-content .text {
	color: black;
}

.top-content .text h1 { color: black; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: black;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 70px;
}

#form-box-right-bottom{
	margin-top: 20px;
	border-left:2px solid #6e6e6e;
	padding-left: 23px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

#saleDetail, #selectCard, #addSaleDetail{
	border-bottom: 2px solid #6e6e6e;
	margin-bottom: 15px;
}

#saleDetail li, #selectCard li, #addSaleDetail li{
	display:inline-block;
	padding-right:0px;
}

.add_categoty, .add_categoty_large, .add_categoty_small{
	text-align:center;
	width:100px;
	height:40px;
	font-size: 13px;
	background-color:#555555d9;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	text-decoration:none;

}

button.add_categoty_big:hover{
	opcacity:0.4;
}

li>button>a{
	text-decoration: none;
	color:white;
}

li>button>a:hover{
	text-decoration: none;
	color:white;
}

.add_button{
	text-align: center;
	padding-left:40px;

}

.form-top-left {
	float: left;
	width: 75%;
	font-size:23px;
}
.form-top-left>h3 {
	padding-top: 16px;
	color:#6e6e6e;
}

.form-top-left h3 { margin-top: 0; }

.form-top-left-center {
}

.form-top-right {
	font-size: 66px;
	color: #ddd;
	line-height: 0px;
	text-align: center;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}

.middle-border {
	min-height: 300px;
	margin-top: 170px;
	border-right: 1px solid #fff;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
}


/***** Footer *****/

footer {
	padding-bottom: 70px;
	color: #fff;
}

footer .footer-border {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
}

footer p { opacity: 0.8; }

footer a {
	color: #fff;
}
footer a:hover, footer a:focus { color: #fff; border-bottom: 1px dotted #fff; }


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.middle-border { min-height: auto; margin: 65px 30px 0 30px; border-right: 0; 
						border-top: 1px solid #fff; border-top: 1px solid rgba(255, 255, 255, 0.6); }
	
}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}

/* modal */

/* insert_card_large_Category */
.large_category_list{
	text-align: left;
    font-size: 30px;
    padding: 20px 0px 10px 0px;
    margin-top: 54px;
    border-bottom: 2px solid #6e6e6e;
}

#add_large_category_name, #add_small_category_name{
	width:300px;
}


.tbl-header table{
  width:100%;
  table-layout: fixed;
}

.tbl-content table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
.tbl-header tr{
	background-color: #c0c4c9;
}

.tbl-header th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  color: #6e6e6e;
  text-transform: uppercase;
}
.tbl-content td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 14px;
  color: #6e6e6e;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

#goManage{
	float:right;
}

