html, body {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	/* background-color: #eeeeee; */
	font-family: "helvetica", sans-serif;
	font-size: 16px;
	transform: translate3d(0, 0, 0);
	/* background: linear-gradient(135deg, #2980b9 0%, #9b59b6 100%); */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1e5799",
		endColorstr="#7db9e8", GradientType=1);
	background-image: url(/resources/image/mainpage/mainpage5.gif);
	background-position: 0% 20%;
	background-size: 100%;
	background-repeat: repeat-y	;
	height: 180vmax;
}


.mainButton{
	margin:3%;
	font-family: 'Pretendard-Regular' !important;
}

.mainButton:hover{
	margin:3%;
	font-family: 'Pretendard-Regular' !important;
}

#cardText{
	font-family: 'Cafe24Ohsquare' !important;
	margin-top: 1% !important;
	font-size: 2rem;
}

#cardImg{
	border: 2px solid #373234;
	border-radius: 12px;
	margin-top: 2%;
}

#moveBtn{
	margin-left: 3%;
}

#moveBtn:hover{
	margin-left: 3%;
	background-color: #FF788B !important;
}

.btn{
	opacity:70%;
	width:10%;
	background-color: #373234 !important;
}

.btn:hover{
	opacity:70%;
	width:10%;
	background-color: #FF788B !important;
}

.container {
	/* position: relative; */
	width: 100%;
	max-width: 960px;
	min-height: 100%;
	margin-top: 5%;
	margin-bottom: 3%;
	/*   padding: 20px; */
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}

.element-card {
	position: relative;
	width: 15vmax;
	height: 23.5vmax;
	transform-style: preserve-3d;
	transform: rotatey(0deg) translatex(0px) translatey(0px);
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	/* box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4); */
	margin: 2%;
	cursor: pointer;
	border-radius: 12px;
	box-shadow: 6px 2px 2px gray;
}

.element-card img {
	width: 100%;
}

.element-card h4 {
	font-size: 1.3rem;
}

.element-card h5 {
	font-size: 0.9rem;
}

.element-card:hover {
	transform: rotatey(45deg) translatex(0px) translatey(0px);
}

.element-card.open {
	width: 200px;
	height: 260px;
	transform: rotatey(-180deg) translatex(0px) translatey(0px);
}

.element-card .front-facing {
	transform: rotateY(0deg) translateZ(2px);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.element-card .front-facing .abr {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	font-size: 42px;
	margin: -35px 0 0 0;
	text-align: center;
	color: #3498db;
}

.element-card .front-facing .title {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	text-transform: uppercase;
	font-size: 12px;
	margin: 15px 0 0 0;
	text-align: center;
	color: #3498db;
}

.element-card .front-facing .atomic-number {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 12px;
	color: #2980b9;
}

.element-card .front-facing .atomic-mass {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 12px;
	color: #2980b9;
}

.element-card .back-facing {
	width: 14vmax;
	height: 20vmax;
	margin: 0px auto;
	margin-top: 5%;
	transform: rotateY(180deg) translateZ(0px);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: white;
	border-radius: 15px;
	border: 2px solid #373234 !important;
	padding: 20px;
	text-align: center;
	overflow: hidden;
	display: flex !important;
  	justify-content: center !important;
	opacity: 0.8;
}

.element-card h4 {
	font-size: 1.3rem;
	border-bottom: 5px solid #373234;
}

.element-card .back-facing p {
	font-size: 14px;
	margin: 0;
}

.element-card .back-facing h4 {
	font-weight: 900;
	font-family: 'Cafe24Ohsquare' !important;
}

.element-card .back-facing h5{
	font-family: 'Pretendard-Regular' !important;
}

.element-card .back-facing .btn {
	display: inline-block;
	background-color: white;
	padding: 5px 15px;
	margin: 20px 0 0 0;
	color: #eee;
	background-color: #373234;
	text-decoration: none;
	border-radius: 3px;
	width: 10vmax;
}

.element-card .back-facing a.btn:hover, .element-card .back-facing a.btn:focus
	{
	color: #fff;
	background-color: #FF788B;
}

.carousel-nav-icon {
	height: 3.5vmax;
	width: 3.5vmax;
	fill: #FF788B;
}

.carousel-item .col, .col-sm, .col-md {
	margin: 8px;
	/* height: 500px; */
}

#carouselExampleIndicators {
	margin-top: 5%;
	margin-left: 2%;
	width: 96%;
	display: flex;
	float: left;
	/* background-color: #373234; */
	/* background-image: url(/resources/image/mainpage/carousel_background4.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 10%;
	opacity: 0.9; */
	border-radius: 50px;
	margin-left: 2%;
	background-color: rgba(255,255,255, 0.5);
	margin-bottom: 5%;
}
.carousel-inner{
	opacity: 1 !important;
}

#moveBtn1, #moveBtn2 {
	margin-top: 16%;
}

#moveBtn1 {
	margin-left: 5%;
}

#moveBtn2 {
	margin-right: 5%;
}

#carouselExampleIndicators h2 {
	position: absolute;
	color: #373234;
	margin-top: 0.5%;
	margin-left: 5%;
}

#dot {
	margin-left: 15% !important;
	margin-top: -0.3% !important;
	font-size: 3rem;
	color: #FF788B !important;
	font-family: 'Cafe24Ohsquare';
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
	-webkit-border-radius: 6px;
	border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #373234;
	opacity: 0.9;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
	background: #FF788B;
  }


.topSection {
	/* background-image: url(/resources/image/mainpage/main_background4.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 90vmax; */
	
}

#logo {
	margin-top: -12% !important;
}

#logo2 {
	margin-top: -17% !important;
}

#navbarSupportedContent {
	margin-top: -4% !important;
}

.maintext{
	margin-top: 2%;
	height:300%;
	width:80%;
	margin-left: 8%;
}

.maintext h2 {
	font-size: 3.7rem;
	font-family: 'Cafe24Ohsquare' !important;
	margin-left: 4.5%;
	margin-top: 1%;
	color: rgb(255, 255, 255);
	text-shadow: 6px 2px 2px gray;
}


h1 div{
	margin-bottom: 1%;
}