.navbar {
	background-color: rgba(255, 255, 255, 0.5) !important;
    margin-bottom: 1rem;
}

body {
    height: 100vh;
    width: 100vw;
	background-image: url(../image/background_beach2.jpg);
	background-attachment:fixed;
    background-repeat: repeat;
    background-position: center center;
}

.container {
  font-family: "Pretendard-Regular", sans-serif;
}

#container {
  width: 70%;
  border-radius: 3rem;
  background-color: white;
  opacity: 0.9;
  width: 70rem;
  margin: auto;
}

.cardInfo {
  margin: 7% auto;
}

#image_selection_left {
  margin-top: 5%;
}

#cardReg {
  margin-left: 91%;
}

#cardReg2 {
  width: 30%;
  margin-left: 70%;
}

.cardReg3 {
  margin-left: 90%;
}

.large_category,
.small_category,
.min_amount,
.max_discount,
.max_count,
.discount_rate {
  width: 160px;
}

#register_category {
  width: 100%;
}

.discount_rate_header{
	
}

.deleteList, .updateList, .addList, .deleteAddList, .deleteList_hide{
	width:26px;
	height:26px;
	margin-left: 6%;
}

.updateList:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	transition: 0.3s ease;
}

.addList:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	transition: 0.3s ease;
} 

.deleteAddList:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	transition: 0.3s ease;
}

.deleteList:hover{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	transition: 0.3s ease;
}

#contentDiv{
	margin: 2%;
}

.add_manage_option{
	width: 70%;
}

#moveModify{
	margin-left: 92%;
}

#register_card_detail{
	margin-left: 94%;
}

#title{
	font-family: 'Cafe24Ssurround', sans-serif;
}

#discount_percent{
	width: 40%;
	margin-right: 0;
	display: inline-block;
}


#card_sample{
	width: 70%;
}

#min_price, #max_price, #max_c{
	width: 85%;
	display: inline-block;
}

