#LCTitleText{
    font-family: 'Cafe24Ssurround';
    font-size: 2.3rem;
}
.navbar {
	/* background-color: rgba(255, 255, 255, 0.5) !important; */
    margin-bottom: 1rem;
}
body {
    height: 100vh;
    width: 100vw;
	background-image: url(../../image/background/background_beach.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
body::after{
    opacity: 0.1;
}

#mainbody{
    border-radius: 3rem;
    background-color: white;
    opacity: 0.9;
    font-family: 'Pretendard-Regular';
    width: 70rem;
    margin: auto;
}
.large_category_list{
    font-family: 'Cafe24Ohsquare';
    font-size: 1.5rem;
    text-align: center;
}
#RightBox{
    margin:auto;
    padding-left: 3rem;
    display: table;
} 
.LCnameBox{
    text-align: center;
    flex-basis: 20%;
    height: 4.5rem;
}

.SubCategoryTItle{
    font-family: 'Cafe24Ohsquare';
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
}

#blank{
    height: 3rem;
    /* background-color: black; */
}

#add_large_category_name{
    width: 50%;
}

/* �벑濡� 踰꾪듉 */
#add_large_category_name{
    height: 2.8rem;
    width: 10rem;
}
#addLargeName{
    margin-left: 2rem;
    margin-bottom: 0.2rem;
    width: 4rem;
    height: 3rem;
    color: white;
    background-color: #373234;
}
#addLargeName:hover{
    color: rgb(67, 0, 0);
    background-color: #FF788B;
}
/* �궘�젣 */
#large_category_selection{
    height: 2.8rem;
    width: 10rem;

}

#deleteLargeName{
    margin-left: 2rem;
    margin-bottom: 0.2rem;
    width: 4rem;
    height: 3rem;
    color: white;
    background-color: #373234;

}
#deleteLargeName:hover{
    color: rgb(67, 0, 0);
    background-color: #FF788B;
}
#line{
    background-color: #373234;
    height: 0.2rem;
    margin-bottom: 1rem;
}

#gomanagebtn{
    font-family: 'Cafe24Ohsquare';
    font-size: 1.5rem;
    margin: auto;
    width: 20rem;
    height: 4rem;
    color: rgb(65, 42, 0);
    background-color: #fff9dc;
}

#gomanagebtn:hover{
    color: rgb(65, 42, 0);
    background-color: #FF788B;
}
