.nav-tabs>li {
	float: none;
	display: inline-block;
	zoom: 1;
}


label img {
	width: 60%;
}

body {
	margin: 0;
	background-image: url(../../../image/background/signup_background.jpg);
	background-repeat: no-repeat;
	background-position: 0% 25%;
	background-size: auto;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
	-webkit-border-radius: 6px;
	border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #373234;
	opacity: 0.9;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
	background: #FF788B;
  }


#external-events {
	float: left;
	width: 150px;
	padding: 0 10px;
	text-align: left;
}

#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}

.external-event {
	/* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 2px 4px;
	background: #3366cc;
	color: #fff;
	font-size: 0.85em;
	cursor: auto;
}

#external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
}

#external-events p input {
	margin: 0;
	vertical-align: middle;
}

#calendar {
	margin-left: 8%;
	width: 70vmax;
	background-color: white;
	opacity: 0.8;
	border-radius: 6px;
	box-shadow: 0 1px 2px #c3c3c3;
	height: 53vmax;
	overflow: hidden;
}

.modal{
	z-index: 1050;
	position:absolute; 
	width:100%; 
	height:100%; 
	background: rgba(0,0,0,0.8); 
	top:0; 
	left:0; 
	display:none;
  }

  .modal_content{
	width:30vmax; height: 22vmax;
	background:#fff; border-radius:20px;
	position:relative; top:50%; left:70%;
	margin-top:-100px; margin-left:-130px;
	text-align:center;
	box-sizing:border-box; padding:20px 0;
	line-height:23px; cursor:pointer;
  }

  .modal_content h1{
	font-family: 'Cafe24Ohsquare' !important;
  }

#span {
	display: inline-block;
	margin-right: 5%;
	margin-top: 2%;
	font-family: 'Pretendard-Regular' !important;
	font-size: 1.3rem;
}

.selec {
	width: 15vmax;
	height: 3vmax;
	font-size: 1rem;
	font-family: 'Pretendard-Regular' !important;
}

.btn {
	background-color: #373234 !important;
	color: white !important;
	padding: 2%;
	border-radius: 10px;
	width: 10rem;
	font-family: 'Pretendard-Regular' !important;
	font-size: 1rem;
	margin-top:0.5%;
	margin-bottom: 1%;
}

.btn:hover {
	background-color: #FF788B !important;
}

.button{
	margin:5% auto;
	margin-left: 70%;
}
#hea{
	font-family: 'Pretendard-Regular' !important;
	color:#373234;
	font-size: 1.3rem;
	margin-top: 1%;
	margin-bottom: 2%;
	display: inline-flex;
	width: 130vh;
	margin-left: 5%;
}

#hea2{
	font-family: 'Pretendard-Regular' !important;
	color:#373234;
	font-size: 1.3rem;
	margin-top: 1%;
	margin-bottom: 2%;
	display: inline-flex;
	width: 130vh;
	margin-left: 15%;
}

option{
	line-height: normal;
}
#price{
	margin-left: 1%;
}

#moveLogin{
	background-color: #373234 !important;
	color: white !important;
	border-radius: 10px;
	width: 8rem;
	margin-left: 10%;
	margin-top: -0.5%;
	font-size: 1rem !important;
	font-family: 'Pretendard-Regular' !important;
	height:6vh;
}

#moveLogin:hover{
	background-color: #FF788B !important;
}

select{
	font-family: none !important;
}

#h5{
	font-size: 1.4rem !important;
	font-family: 'Pretendard-Regular' !important;
	margin-top: -1%;
}