@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.navbar {
	background-color: rgba(255, 255, 255, 0.5) !important;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

#logintitleimg{
    width: 70%;
    height: 70%;
}

#logintitletext{
    font-family: 'Pretendard-Regular';
    font-size: 1.2rem;
}

#loginbox{
    text-align: center;
    max-width: 600px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 40px;
    box-shadow: 10px 10px 40px rgb(217, 217, 217);
    opacity:0.92;
}

#singupbtn{
    margin-top: 0;
    background-color: #373234; 
}
#singupbtn:hover {
    color: rgb(0, 0, 0);
    background-color: #FF788B;  
}

body {
    background-image: url(../../../image/background/signup_background.jpg);
	background-repeat: no-repeat;
	background-position: 0% 35%;
	background-size: auto;
    height: 100vh;
    font-family: 'Pretendard-Regular';

}

.h2 {
	font-family: 'Cafe24Ohsquare';
    font-size: 20rem;
    font-weight: bold;
    color: #400485;

}

.h4 {
    font-family: 'Pretendard-Regular';
}

.input-field {
    margin:auto;
    width: 26.5rem;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #400485;
    color: #400485
}

.input-field:hover {
    color: #7b4ca0;
    border: 1px solid #7b4ca0
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 2px;
    font-family: 'Poppins', sans-serif
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

a {
    text-decoration: none;
    color: #400485;
    font-weight: 700
}

a:hover {
    text-decoration: none;
    color: #7b4ca0
}

.option {
    position: relative;
    padding-left: 30px;
    cursor: pointer
}

.option label.text-muted {
    display: block;
    cursor: pointer
}

.option input {
    display: none
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer
}

.option input:checked~.checkmark:after {
    display: block
}

.option .checkmark:after {
    content: "";
    width: 13px;
    height: 13px;
    display: block;
    background: #400485;
    position: absolute;
    top: 48%;
    left: 53%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s
}

.option input[type="radio"]:checked~.checkmark {
    background: #fff;
    transition: 300ms ease-in-out 0s;
    border: 1px solid #400485
}

.option input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1)
}

.btn.btn-block {
    font-family: 'Cafe24Ohsquare';
    font-size: 1.5rem;
    border-radius: 10px;
    background-color:#373234; 
    color: #fff
}

.regibtn{
    width: 12rem;
}

.btn.btn-block:hover {
    background-color:  #FF788B;  
}

@media(max-width: 575px) {
    .wrapper {
        margin: 10px
    }
}

@media(max-width:424px) {
    .wrapper {
        padding: 30px 10px;
        margin: 5px
    }

    .option {
        position: relative;
        padding-left: 22px
    }

    .option label.text-muted {
        font-size: 0.95rem
    }

    .checkmark {
        position: absolute;
        top: 2px
    }

    .option .checkmark:after {
        top: 50%
    }

    #forgot {
        font-size: 0.95rem
    }
}
